<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>

</style>
</head>
<a name="top"></a>

<a href= "Top"></a>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Checkout branch Actasvoter</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col"> A
      <div class="card">
        <div class="card-body">
           <img src="/jetty.jpg" class="panel-image-preview">
           <div class="post-creation">
           <h6>Questions.</h6>
           <h6>Followers</h6>
           </div>
        </div>
      </div>
      <br>
       <div class="card">
        <div class="card-body">
           <p>Trends.</p>
        </div>
     </div>
    </div>
    <div class="col-6">
        <p>Questions.</p>
        <% for @p in @posts %>
      <div class="card">
        <div class="card-body">
            <div class="col-sm-1">
              <img src="/avatar.png" class="rounded-img" height="50px" width="50px"></img>
            </div>
           <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
           <p class="post-content"><%= @p.content %></p>
           <div class="col-sm-12">
              <p class="fontawe-links">
                 <a href="#"> <i class="fa fa-reply" aria-hidden="true"></i></a>
                 <a href="#"><i style="padding-left:42px;" class="fa fa-retweet" aria-hidden="true"></i>
                 <a href="#"><i style="padding-left:42px;" class="fa fa-heart" aria-hidden="true"></i>
                 <a href="#"><i style="padding-left:42px;" class="fa fa-envelope-o" aria-hidden="true"></i>
               </p>
           </div>  
        </div>
      </div>
        <% end  %>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
           <p>About.</p>
        </div>
      </div>
    </div>
 
<a href="#top">Back to top</a>
