<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1><%= @username %> <small>Subtext for header</small></h1>
    </div>
  </div>
</div>


<div class="row">
<div class="card" style="width: 10rem;">
  <div class="card-body">
    <h4 class="card-title">profile</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>



<div>
 <%= render '/components/post_form' %><br><br>
</div>

   <div>
    <% for @p in @posts %>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h4 class="card-title"><%= @p.content %></h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
      </div>
     <% end %>
    <div>
 
  


<div class="card" style="width: 10rem;">
  <div class="card-body">
    <h4 class="card-title">Who to follow</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
<!-- begins row 2 -->
<div class="row"  >
  <div class="width: 10rem offset-md-8">
    <div class="card" style="width: 10rem; col-md-offset-9" ">
       <div class="card-body" >
    <h4 class="card-title"> trends </h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
    </div>
   </div>
  </div>
</div>
