<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
           <p>Profile.</p>
        </div>
      </div>
       <div class="card">
        <div class="card-body">
           <p>Trends.</p>
        </div>
     </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
           <%= render '/components/post_form' %>
           <p>Questions.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
           <p>About.</p>
        </div>
      </div>
    </div>
 